.header  {
    width: 100%;
    min-height: 15vh;
    padding: 0 1.5rem;
    font-size: medium;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
   
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    color: #343434;
    /* background-color: black; */
}

.header-head-span {
    font-size: 2rem;
}